.Edit {

}

.PostInput {
    display: block;
    margin: 10px auto;
    width: 50%;
    height: 25px;
    padding: 0 5px;
}

.PostTextArea {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 250px;
    padding: 5px;
    margin-bottom: 10px;
}

