.home {
    min-height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;

}


body {
    text-align: center;
}
.Post {
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}
